# Miscellaneous
*.java.hsp 
*.sw*
.DS_Store
build.sh 
ivy-cache  
classes/

# Log files
jxl.log
jmx.log 

# Gradle artifacts
.gradle
.gradletasknamecache
/build
buildSrc/build
/spring-*/build
/spring-core/graalvm/build
/spring-core/kotlin-coroutines/build
/framework-bom/build
/integration-tests/build
/src/asciidoc/build
spring-test/test-output/
   

# VS Code
.vscode/